<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>账单明细</title>

		<link href="__AMAZEUI_CSS__/admin.css" rel="stylesheet" type="text/css">
		<link href="__AMAZEUI_CSS__/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__CSS__/personal.css" rel="stylesheet" type="text/css">
		<link href="__CSS__/bilstyle.css" rel="stylesheet" type="text/css">

		<script src="__AMAZEUI_JS__/jquery.min.js" type="text/javascript"></script>
		<script src="__AMAZEUI_JS__/amazeui.js"></script>

	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header">
						<ul class="message-l">
							<div class="topMessage">
								<div class="menu-hd">
									{if condition="empty($Think.session.username) AND empty($Think.cookie.username)"}
									<a href="{:url('user/login')}" target="_top" class="h">亲，请登录</a>
									<a href="{:url('user/register')}" target="_top">免费注册</a>
									{else /}
									欢迎您！<a href="#" target="_top" class="h">{$Think.session.username ?? $Think.cookie.username}</a>
									{/if}

								</div>
							</div>
						</ul>
						<ul class="message-r">
							<div class="topMessage home">
								<div class="menu-hd"><a href="{:url('Index/index')}" target="_top" class="h">商城首页</a></div>
							</div>
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng">
								{if condition="empty($Think.session.username) AND empty($Think.cookie.username)"}
									<a href="" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a>
								{else /}
									<a href="{:url('Center/center')}" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a>
								{/if}
								</div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd">
									{if condition="empty($Think.session.username) AND empty($Think.cookie.username)"}
										<a id="mc-menu-hd" href="{:url('User/login')}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span></a>
									{else /}
										<a id="mc-menu-hd" href="{:url('ShowCar/index')}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span></a>
									{/if}
								</div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd">
									{if condition="empty($Think.session.username) AND empty($Think.cookie.username)"}
										<a href="{:url('User/login')}" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a>
									{else /}
										<a href="{:url('Collect/index')}" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a>
									{/if}
								</div>
						</ul>
						</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img src="__IMAGES__/logobig.png" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">账单明细</strong> / <small>Electronic&nbsp;bill</small></div>
					</div>
					<hr>

					<!--交易时间	-->

					<div class="order-time">
						<label class="form-label">交易时间：</label>
						<div class="show-input">
							<select class="am-selected" style="height: 30px;background: #F3F3F3">
								<option>今天</option>
								<option>本周</option>
								<option>本月</option>
								<option>本年</option>
								<option>全部</option>
							</select>
						</div>
                          <div class="clear"></div>
					</div>

					<table width="100%">

						<thead>
							<tr>
								<th class="memo"></th>
								<th class="time">创建时间</th>
								<th class="name">名称</th>
								<th class="amount">金额</th>
								<th class="action">操作</th>
							</tr>
						</thead>

						<tbody class="bill_detail">
							{volist name="bill_details" id="bill_detail"}
							<tr>
								<td class="img">
									<i><img src="__IMAGES__/{$bill_detail->good->picture['small_picture']}"></i>
								</td>
								<td class="time">
									<p> {$bill_detail.create_time}
									</p>
								</td>
								<td class="title name">
									<p class="content">
										{$bill_detail->good['name']}
									</p>
								</td>

								<td class="amount">
									<span class="amount-pay">- {$bill_detail.money}</span>
								</td>
								<td class="operation">
									<a href="{:url('Billlist/dele',['cid'=>$bill_detail->cid])}">删除</a>
								</td>
							</tr>

							{/volist}
						</tbody>
					</table>						
				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有</em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="{:url('Center/center')}">个人中心</a>
					</li>
					<li class="person">
						<a href="{:url('Center/center')}">个人资料</a>
						<ul>
							<li> <a href="{:url('Information/information')}">个人信息</a></li>
							<li> <a href="{:url('Safe/safety')}">安全设置</a></li>
							<li> <a href="{:url('Address/address')}">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="{:url('Order/order')}">我的交易</a>
						<ul>
							<li><a href="{:url('Order/order')}">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="{:url('Coupon/coupon')}">我的资产</a>
						<ul>
							<li> <a href="{:url('Coupon/coupon')}">优惠券 </a></li>
							<li> <a href="bonus.html">红包</a></li>
							<li> <a href="{:url('Bill/bill')}">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>
							<li> <a href="comment.html">评价</a></li>
							<li> <a href="news.html">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>
		</div>

	</body>

</html>
<script type="text/javascript">
	$('select').change(function(){
		var time = $('.am-selected').val();
		$.post("{:url('Billlist/chaKan')}",{time:time},function(data){
			$('.bill_detail').html(data);
		});
	});
</script>