<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>我的收藏</title>

		<link href="__AMAZEUI_CSS__/admin.css" rel="stylesheet" type="text/css">
		<link href="__AMAZEUI_CSS__/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__CSS__/personal.css" rel="stylesheet" type="text/css">
		<link href="__CSS__/colstyle.css" rel="stylesheet" type="text/css">

	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header">
						<ul class="message-l">
							<div class="topMessage">
								<div class="menu-hd">
									{if condition="empty($Think.session.username) AND empty($Think.cookie.username)"}
									<a href="{:url('user/login')}" target="_top" class="h">亲，请登录</a>
									<a href="{:url('user/register')}" target="_top">免费注册</a>
									{else /}
									欢迎您！<a href="#" target="_top" class="h">{$Think.session.username ?? $Think.cookie.username}</a>
									<a href="{:url('User/quiet')}">注销</a>
									{/if}
								</div>
							</div>
						</ul>
						<ul class="message-r">
							<div class="topMessage home">
								<div class="menu-hd"><a href="{:url('Index/index')}" target="_top" class="h">商城首页</a></div>
							</div>
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng">
								{if condition="empty($Think.session.username) AND empty($Think.cookie.username)"}
									<a href="" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a>
								{else /}
									<a href="{:url('Center/center')}" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a>
								{/if}
								</div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd">
									{if condition="empty($Think.session.username) AND empty($Think.cookie.username)"}
										<a id="mc-menu-hd" href="{:url('User/login')}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span></a>
									{else /}
										<a id="mc-menu-hd" href="{:url('ShowCar/index')}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span></a>
									{/if}
								</div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd">
									{if condition="empty($Think.session.username) AND empty($Think.cookie.username)"}
										<a href="{:url('User/login')}" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a>
									{else /}
										<a href="{:url('Collect/index')}" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a>
									{/if}
								</div>
						</ul>
						</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img src="{$res_site.logo}" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-collection">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的足迹</strong> / <small>My&nbsp;Collection</small></div>
						</div>
						<hr/>

						<div class="you-like">
							<div class="s-bar">
								我的足迹
							</div>
							<div class="s-content">
								{foreach $res_foot as $v}
								<div class="s-item-wrap">
									<div class="s-item">
										<div class="s-pic">
											<a href="{:url('Introduct/good', ['gid'=>$v.good_id])}" class="s-pic-link">
												<img src="{$v->good->picture['path_url']}" alt="{$v->good['name']}" title="{$v->good['name']}" class="s-pic-img s-guess-item-img">
											</a>
										</div>
										<div class="s-info">
											<div class="s-title"><a href="#" title="{$v->good['name']}">{$v->good['keyword']}</a></div>
											<div class="s-price-box">
												<span class="s-price"><em class="s-price-sign">¥</em><em class="s-value">{$v->good['money']}</em></span>
												<span class="s-history-price"><em class="s-price-sign">¥</em><em class="s-value">{$v->good['price']}</em></span>
											</div>
											<div class="s-extra-box">
												<span class="s-comment">好评: 98.03%</span>
												<span class="s-sales">月销: {$v->good->consume|count}</span>
											</div>
										</div>
									</div>
								</div>
								{/foreach}
							</div>
							{$res_foot->render()}
						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="{:url('Index/index')}">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>({$res_site.record})</em>
						</p>
					</div>
				</div>
			</div>
			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="{:url('Center/center')}">个人中心</a>
					</li>
					<li class="person">
						<a href="{:url('Center/center')}">个人资料</a>
						<ul>
							<li> <a href="{:url('Information/information')}">个人信息</a></li>
							<li> <a href="{:url('Safe/safety')}">安全设置</a></li>
							<li> <a href="{:url('Address/address')}">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="{:url('Order/order')}">我的交易</a>
						<ul>
							<li><a href="{:url('Order/order')}">订单管理</a></li>
							<li> <a href="">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="{:url('Coupon/coupon')}">我的资产</a>
						<ul>
							<li> <a href="{:url('Coupon/coupon')}">优惠券 </a></li>
							<li> <a href="">红包</a></li>
							<li> <a href="{:url('Bill/bill')}">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="{:url('Collect/index')}">收藏</a></li>
							<li> <a href="{:url('Foot/index')}">足迹</a></li>
							<li> <a href="comment.html">评价</a></li>
							<li> <a href="news.html">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>
		</div>

	</body>

</html>