<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>个人资料</title>

		<link href="__AMAZEUI_CSS__/admin.css" rel="stylesheet" type="text/css">
		<link href="__AMAZEUI_CSS__/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__CSS__/personal.css" rel="stylesheet" type="text/css">
		<link href="__CSS__/infstyle.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="__CSS__/public.css">
		<script src="__AMAZEUI_JS__/jquery.min.js" type="text/javascript"></script>
		<script src="__AMAZEUI_JS__/amazeui.js" type="text/javascript"></script>
		<script type="text/javascript" src="__JS__/YMDClass.js"></script>
			
	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header">
						<ul class="message-l">
							<div class="topMessage">
								<div class="menu-hd">
									<a href="#" target="_top" class="h">亲，请登录</a>
									<a href="#" target="_top">免费注册</a>
								</div>
							</div>
						</ul>
						<ul class="message-r">
							<div class="topMessage home">
								<div class="menu-hd"><a href="#" target="_top" class="h">商城首页</a></div>
							</div>
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</ul>
						</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img src="__IMAGES__/logobig.png" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-info">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>
						</div>
						<hr/>

						<!--头像 -->
						<form class="form" action="{:url('Information/changePic')}" enctype="multipart/form-data" method="post"> 
							<div class="user-infoPic">
								<div class="filePic">
									<input type="file" name="file" class="inputPic" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*">
									<img class="am-circle am-img-thumbnail" src="{$pic}" alt="点击更改" />
								</div>
								<div class="showTj" style="display: none;"><input type="submit"></div>
								<div class="info-m">
									<div><b>用户名：<i>{$username}</i></b></div>
									<div class="u-level">
										<span class="rank r2">
								             <s class="vip1"></s><a class="classes" href="#">{$gold}</a>
							            </span>
									</div>
									<div class="u-safety">
										<a href="safety.html">
										 账户安全
										<span class="u-profile"><i class="bc_ee0000" style="width: 60px;" width="0">{$safe_score}</i></span>
										</a>
									</div>
								</div>
							</div>
						</form>
						<!--个人信息 -->
						<div class="info-main">
							<form class="am-form am-form-horizontal">
								<div class="am-form-group">
									<label for="user-name2" class="am-form-label">用户名</label>
									<div class="am-form-content">
										<input type="text" name = "user-name2" id="user-name2" placeholder="{$username}">

									</div>
									<p style="margin-left: 85px;color: red">* ps:修改用户名不影响您使用邮箱或者手机登录，默认状态下用户名为注册时填写的用户名</p>
								</div>

								<div class="am-form-group">
									<label for="user-name" class="am-form-label">姓名</label>
									<div class="am-form-content">
										<input type="text" id="user-name2" name="truename"placeholder="name">

									</div>
								</div>

								<div class="am-form-group">
									<label class="am-form-label">性别</label>
									<div class="am-form-content sex">
										<label class="am-radio-inline">
											<input type="radio" name="radio10" value="male" data-am-ucheck> 男
										</label>
										<label class="am-radio-inline">
											<input type="radio" name="radio10" value="female" data-am-ucheck> 女
										</label>
										<label class="am-radio-inline">
											<input type="radio" name="radio10" value="secret" data-am-ucheck> 保密
										</label>
									</div>
								</div>

								<div class="am-form-group">
									<label for="user-birth" class="am-form-label">生日</label>
									<div class="am-form-content birth">
										<div class="birth-select">
											<select name="year1" id="year"></select>
											<select name="month1" id="month"></select>
											<select name="day1" id="day"></select>
										</div>
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-phone" class="am-form-label">电话</label>
									<div class="am-form-content" style="color: pink">
										<label for="user-phone" class="am-form-label">{$phone}</label>
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-email" class="am-form-label">电子邮件</label>
									<div class="am-form-content" style="color: pink">
										<label for="user-email" class="am-form-label">{$email}</label>
									</div>
								</div>
								<div class="am-form-group address">
									<label for="user-address" class="am-form-label">收货地址</label>
									<div class="am-form-content address">
										<a href="address.html">
											<p class="new-mu_l2cw">
												<span class="province">湖北</span>省
												<span class="city">武汉</span>市
												<span class="dist">洪山</span>区
												<span class="street">雄楚大道666号(中南财经政法大学)</span>
												<span class="am-icon-angle-right"></span>
											</p>
										</a>

									</div>
								</div>
								<div class="am-form-group safety">
									<label for="user-safety" class="am-form-label">账号安全</label>
									<div class="am-form-content safety">
										<a href="safety.html">

											<span class="am-icon-angle-right"></span>

										</a>

									</div>
								</div>
								<div class="info-btn">
									<div class="am-btn am-btn-danger" id="save">保存修改</div>
								</div>

							
						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有</em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="{:url('Center/center')}">个人中心</a>
					</li>
					<li class="person">
						<a href="{:url('Center/center')}">个人资料</a>
						<ul>
							<li> <a href="{:url('Information/information')}">个人信息</a></li>
							<li> <a href="{:url('Safe/safety')}">安全设置</a></li>
							<li> <a href="{:url('Address/address')}">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="{:url('Order/order')}">我的交易</a>
						<ul>
							<li><a href="{:url('Order/order')}">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="{:url('Coupon/coupon')}">我的资产</a>
						<ul>
							<li> <a href="{:url('Coupon/coupon')}">优惠券 </a></li>
							<li> <a href="bonus.html">红包</a></li>
							<li> <a href="{:url('Bill/bill')}">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>
							<li> <a href="comment.html">评价</a></li>
							<li> <a href="news.html">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>
		</div>

	</body>

</html>
<script type="text/javascript">
	new YMDselect('year1','month1','day1');
	$('#save').click(function(){
		var username = $('input[name=user-name2]').val();
		var realname = $('input[name=truename]').val();
		var sex = $('input:radio[name=radio10]:checked').val();
		if (sex == 'male') {
			var sex = 1
		} else if(sex == 'female') {
			var sex = 2;
		} else {
			var sex = 0;
		}
		var year = $('#year').val();

		var month = $('#month').val();
		var day = $('#day').val();
		var stringtime = year +'-'+ month + '-'+ day;
		var birthday = (Date.parse(new Date(stringtime)))/1000;
		if (year == 0 || month == 0 || day == 0) {
			var birthday = 0;
		}

		var phone = $('input[name=phone]').val();
		var email = $('input[name=email]').val();
		var data = new FormData;
		$.post("{:url('Information/dochange')}",{
			'username':username,
			'realname':realname,
			'sex':sex,
			'birthday':birthday, 
			'phone':phone,
			'email':email,
		},function(data){
			if (data == 1) {
				alert('资料修改成功')
			} else if(data == 2){
				confirm('您未修改任何资料是否确认提交?')
			} else {
				alert('提交失败请确认后重新提交');
			};
		})
	});
	/*上传头像*/
	$('.filePic').click(function(){
		$('.showTj').show();
	})
</script>